CL_Images
CL_Sounds
gothoom
gothoom.exe
*.syso
*.ico
*.log
settings.json
characters.json
binaries/*.zip
cpu.svg
stats.json
internalimages*
tree.json
.pcapng
.gocache
.gomodcache
Players.xml
ClanLord.xml
.gobin/staticcheck
data/Screenshots/
GT_Players.json
*.sf2
music_*.wav
*.pem
data/*.gz
data/global-hotkeys.json
data/piper
*.icns
gt.zip
data/scripts
dump/
Text Logs/
gothoom_deps.tar.gz
spellcheck_words.txt
*.wav
.gocache-local/
data/Movies/*.clMov
go/mod/cache/
go/mod/
themes/
.VSCodeCounter/
data/shortcuts/
data/Movies/
binaries/goThoom-Web/
.gomodcache_tmp/*
.cache/
go/.gomodcache_tmp/
build/
logs/
dev-screenshots/
/data/Macros/
-l
